body {
  /* background: linear-gradient(45deg, #25ccf7, #fc427b); */
  background: linear-gradient(45deg, #25ccf7, #fc427b);

  height: auto;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  /* position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; */
  padding-top: 3%;
  margin-top: 4%;
  margin-bottom: 2%;
  padding-bottom: 3%;
  height: auto;
  width: 65%;
}
.card {
  height: auto;
}

.card-body {
  box-shadow: 11px 8px 52px rgba(18, 18, 18, 0.35);
}
.text-center {
  text-align: center;
  margin: 0;
  padding: 0;
}
form {
  padding: 2em;
  height: auto;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  position: relative;
}

.btn:hover {
  background-color: #1e90ff;
}

.heading {
  font-weight: 100;
  color: #111;
  opacity: 0.7;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
label {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #57606f;
}
::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 150;
  color: #111;

  text-shadow: 2px 0px 4px rgba(168, 117, 117, 0.4);
}
